@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "غير مصرح";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<body>
    <div class="container">
        <div class="row">
            <h2 class="m-3 text-danger d-grid justify-content-between">غير مسموح لك بالدخول إلى هذه الصفحة</h2>
        </div>
    </div>
</body>
