@model UserModel
<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تسجيل الحساب</title>
    <!--- link css-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link rel="stylesheet" href="~/css/sub1.css">
</head>

<body>

    <nav style="z-index:2000" class="navbar navbar-expand-lg navbar-light " dir="rtl">
        <a class="navbar-brand" asp-action="Index" asp-controller="Home" asp-area="">
            <img src="~/imgs\WhatsApp_Image_2023-01-21_at_17.00.40-removebg-preview.png"
                 alt="Logo" width="150" height="" class="d-inline-block align-text-center">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" asp-action="Index" asp-area="" asp-controller="Home">الرئيسيه <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="GetAllUsers" asp-area="Admin" asp-controller="Users">المستخدمين</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">تواصل معنا</a>
                </li>
            </ul>
        </div>
    </nav>


    <section class="">
        <div class="photo">
            <p class="login-text">يمكنك تسجيل حسابك الان</p>
        </div>
    </section>
    <section class="section2">
        <form method="post" asp-action="Register" asp-area="Admin" asp-controller="Users">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="mb-4">
                            <label for="exampleFormControlInput1" class="form-label d-flex align-content-center">كود الطالب</label>
                            <input type="text" asp-for="Code" class="form-control border-success" placeholder="برجاء كتابه الكود الخاص بك" required>
                            <span asp-validation-for="Code" class="text-danger"></span>
                        </div>

                        <div class="mb-4">
                            <label for="exampleFormControlInput1" class="form-label d-flex align-content-center" id="">اسم الطالب </label>
                            <input type="text" asp-for="FullName" class="form-control border-success" id="name" placeholder="برجاء كتابه الاسم الخاص بك">
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>
                        <div class="mb-4">
                            <label class="form-label d-flex align-content-center" id="">اسم المستخدم </label>
                            <input type="text" asp-for="UserName" class="form-control border-success" id="name" placeholder="User Name لا يتكرر لأكثر من طالب">
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="mb-4">
                            <label class="form-label d-flex align-content-center">كلمة السر</label>
                            <input type="password" asp-for="Password" class="form-control border-success" id="password" placeholder=" برجاء كتابه كلمة السر وان لا تقل عن 6 احرف ">
                            <span asp-validation-for="Password" class="text-danger"></span>

                        </div>
                        <div class="mb-4">
                            <label for="exampleFormControlInput1" class="form-label d-flex align-content-center" id="">السنة الدراسية </label>
                            <select asp-for="LevelId" class="form-control border-success d-flex align-content-center"
                                    asp-items="@(new SelectList(ViewBag.Level,"LevelId","YearLevel"))">
                                    <option></option>
                            </select>
                            <span asp-validation-for="LevelId" class="text-danger"></span>

                        </div>
                        <div class="mb-4">
                            <label for="exampleFormControlInput1" class="form-label d-flex align-content-center" id="">مشترك </label>
                            <select asp-for="Subscribe" class="form-control border-success d-flex align-content-center"><option value="True">نعم</option><option value="False">لا</option></select>
                            <span asp-validation-for="Subscribe" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <img src="~/imgs\Computer login-cuate 1 1.png" class="rounded float-end" alt="..." width="400">
                    </div>

                </div>


            </div>
            <br><br>
            <div class="d-grid gap-2">
                <button class="btn btn-primary d-flex align-content-center" type="submit" id="btn" width="300">تسجيل الدخول</button>
            </div>
        </form>

    </section>
    <br />
    <br />
    <div class="col-md-6 col-sm-12">
        <img src="~/imgs\Computer login-cuate 1 1.png" class="rounded float-end" alt="..." width="400">
    </div>
    <br>

    <footer class="last container-fluid" id="contact">
        <img src="~/imgs/Vector 2.png" alt="" class="backfooter">
        <div class="main-footer">
            <img src="~/imgs\logo.png" class="img-fluid" alt="..." width="150">

            <p class="text-center1">
                دعنا ننمو بمستواك التعليمي مع جهبز حيث نوفر لك منصه كامله بها الشرح والمراجعات والامتحانات
            </p>
            <p class="text-center2">لتوفير الراحه والرفاهيه لك وتطوير ذاتك</p>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6 col-sm-12 right">
                <div class="base">
                    <img src="~/imgs\material-symbols_call.png" class="rounded float-end" alt="..." width="100">
                    <p class="text-end1">يمكنك تواصل معنا الان.</p>
                </div>
                <div class="second-base">
                    <p class="text-end1"> رقم الهاتف 1: 01033682834 .</p>
                    <p class="text-end2">رقم الهاتف2 :01024290987.</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 left">
                <div class="icons">
                    <a href="https://www.facebook.com/profile.php?id=100084762666553&amp;mibextid=ZbWKwL" class="text1"
                       target="_blank"> facebook<img src="/imgs/facebook.png" alt="" srcset="" class="facebook"></a>
                    <br>
                    <a href="mailto:" mohamedfasiel66@gmail.com="" class="text2" target="_blank">
                        google <img src="/imgs//google.png" alt="" srcset="" class="google">
                    </a>
                    <br>
                    <a href="http://" class="text3" target="_blank">
                        Youtube<img src="/imgs/youtube.png" alt="" srcset=""
                                    class="youtube">
                    </a>
                </div>
            </div>
        </div>




    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous">
    </script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

</body>

</html>