@{
    Layout = "_Layout";
}
@*@section Styles{
<link href="~/css/bootstrap.min.css" rel="stylesheet" />
}*@

<section class="">
    <div class="photo">
        <img width="100%" src="~/imgs/sub3.png" alt="...">
    </div>
</section>
<br />
<br />
<br />

<section class="section2">
    <p class="text-center">المواد المقرره</p>
    <br />
    <br />
    <div class="container-fluid">
        <div style="margin-left:25%" class="row">
            <div class="col-md-6 col-sm-12 space">
                <a style="text-decoration:none" asp-action="FirstYearCHST" asp-area="" asp-controller="Matrials">
                    <p style="margin-left:10%">
                <img src="~/imgs/Rectangle 9.png" class="rounded float-start" alt="..." width="300"><br />
                        الكيمياء&nbsp;&nbsp;&nbsp;
                        &nbsp;
                        &nbsp;
                        &nbsp;
                        &nbsp;
                    </p>
                </a>
            </div>
            <br />
            <br />
            <br />
            <div class="col-md-6 col-sm-12 space">
                <a style="text-decoration:none" asp-action="FirstYearBIOST" asp-area="" asp-controller="Matrials">
                    <p style="margin-left:5%">
                <img src="~/imgs/Rectangle 10.png" class="rounded float-end" alt="..." width="300"><br />
                        الأحياء&nbsp;&nbsp;&nbsp;
                        &nbsp;
                        &nbsp;
                        &nbsp;
                    </p>
                </a>
            </div>
            <br />

        </div>


    </div>
</section>

<br>

