@{
    Layout = "_Layout";
}
@section Styles{
    <link href="~/css/sub2.css" rel="stylesheet" />
}
<section class="">
    <div class="photo">
        <img src="~/imgs/sub1.png" alt="...">
    </div>
</section>
<section class="section2">
    <p class="text-center">المواد المقرره</p>
    <div class="container-fluid">
        <div class="row">
            <div class="space col-md-6 col-sm-12">
                <a asp-action="SecondYearCHST" asp-area="" asp-controller="Matrials">
                    <p>
                        <img src="~/imgs\Rectangle 9.png" class="rounded float-start" alt="..." width="300"><br />
                الكيمياء</p></a>
            </div>
            <div class="space col-md-6 col-sm-12">
                <a asp-action="SecondYearBIOST" asp-area="" asp-controller="Matrials">
                    <p>
                        <img src="~/imgs\Rectangle 10.png" class="rounded float-end" alt="..." width="300"><br />
                الاحياء</p></a>
            </div>

        </div>


    </div>
</section>

<br>

